h1{
color: green;
}
button{
  background-color: cornflowerblue;
}
button a{
  text-decoration: none;
  border-color: cornflowerblue;
  border-radius: 2px;
}
body{
  background-color: lightgrey;
}
